/* ServiceDetails design  */
.service-details {
    padding:60px 0;
}
.service-detail-content {
    border: 1px solid gray;
    padding: 7px;
}
.service-detail-content img {
    width: 100%;
    margin-bottom: 18px;
}
.booking-form {
    background: gray;
    padding: 50px 0;
}
.placeOrder-form {
    background: gray;
    text-align: center;
    padding: 60px 0;
}
.placeOrder-form h4 {
    color: #fff;
}
.booking-form input,textarea {
    width: 80%;
    padding: 7px;
    margin-bottom: 12px;
}

.booking-form {
    text-align: center;
}