.subscribe-area {
    padding:40px;
}
.subscribe {
    width: 80%;
    margin: 0 auto;
    background: #1e6946;
    color: #fff;
    padding: 90px;
    border-radius: 5px;
}

.subscribe h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

/* responsive css  */

@media (max-width:480px){
    .subscribe {
        width: 100%;
        padding: 9px;
    }
    .input-group-lg>.btn, .input-group-lg>.form-control, .input-group-lg>.form-select, .input-group-lg>.input-group-text {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 5px;
        box-sizing: border-box;
    }
}
