.banner-area {
    background-image: url('../../Images/travel-banner.jpg');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom left;
    position: relative;
    z-index: 1;

}
.banner-area::before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color:#5C929B;
    opacity: .65;
    z-index: -1;
}

.banner-content {
    /* top: 50%; */
    position: relative;
    transform: translateY(50%);
}

.banner-content span {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}

.banner-content h1 {
    color: #fff;
    font-size: 65px;
    font-weight: bold;
    text-transform: capitalize;
}

.banner-content p {
    color: #fff;
    font-size: 20px;
}